@{
    ViewBag.Title = "Giới thiệu";
}
<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<div class="container">
    <br /><br /><br /><br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>
        <div class="panel-body">
            <h3>Chào mừng đến với khách sạn For2T </h3>

            <p>
                Khách sạn For2T là một trong những khách sạn quốc tế đầu tiên tại Việt Nam, nằm tọa lạc tại trung tâm Thành phố Hồ Chí Minh, tạo nên điểm dừng chân lý tưởng cho du khách trong và ngoài nước - một điểm đến hoàn hảo cho cả chuyến công tác và du lịch bên bạn bè hoặc người thân.

                Với vị trí vô cùng thuận lợi gần Landmark 81 - biểu tượng kiến trúc độc đáo của Việt Nam, khách sạn mang đến sự ấn tượng với thiết kế hiện đại và tiện ích đẳng cấp.

                Không chỉ sở hữu hệ thống phòng nghỉ sang trọng và trang thiết bị hiện đại, For2T còn cung cấp một loạt các dịch vụ đa dạng như nhà hàng, phòng họp, thuê văn phòng, sân Tennis, trung tâm thể hình, spa, cũng như các dịch vụ giải trí và sòng bạc.

                Du khách sẽ được thưởng thức những món ẩm thực tinh tế với hương vị truyền thống, được chế biến bởi các đầu bếp chuyên nghiệp. Điều này cùng với phong cách phục vụ chuyên nghiệp, nhiệt tình và thân thiện của đội ngũ nhân viên giàu kinh nghiệm, tạo nên thương hiệu uy tín của Khách sạn For2T.
            </p>
        </div>
    </div>
</div>

